.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*my css*/ 

/* main styles*/
li{
    list-style: none;
}
.content {
    display:flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.navigation{
    display:flex;
    justify-content:space-between;
}
.header{
    margin:0;
}
.menu li{
    display:inline;
    margin-left: 25px;
}
.years{
    display:flex;
    flex-direction:column;
    padding:0 20px;
    margin-top: 0;
}
.container{
    display:flex;
    flex-direction:row;
    flex-grow: 1;
}
.map{
    background-color: yellow;
    width:80%;
    margin-top:20px;
    flex-grow:1;
}
.graphs{
    display:flex;
    justify-content:center;
}
.graph{
    background-color: pink;
    height:300px;
    width:300px;
    margin:20px;

    }
