
/* main styles*/

li{
    list-style: none;
}
a{
  text-decoration:none;
}
.typewriter h1{
  overflow:hidden;
  border-right: .1em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  font-family:monospace;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(30,end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
.content {
    display:flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.navigation{
    display:flex;
    justify-content:space-between;
}
.header{
    margin:0;
}
.menu li{
    display:inline;
    margin-left: 25px;
}
.years{
    display:flex;
    flex-direction:column;
    padding:0 20px;
    margin-top: 0;
}
.year-selected{
  color:red;
}
.container{
    display:flex;
    flex-direction:row;
    flex-grow: 1;
}
.map{
    background-color: yellow;
    width:80%;
    margin-top:20px;
    flex-grow:1;
}
.graphs{
    display:flex;
    justify-content:center;
}
.graph{
      min-height: 300px;

    }
